@import '../themes/theme';
// Calendar
.cal {
  background-color: $c-bg-0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 20px;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: $c-red-1;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: $c-yellow-1;
}
calendar:selected {
  color: $c-blue-1;
}

calendar.header {
color: $c-orange-1;
font-weight: bold;
}

calendar.button {
color: $c-green-1;
}

calendar.highlight {
color: $c-aqua-1;
font-weight: bold;
}

calendar:indeterminate {
color: $c-fg-1;
}

