@use "styles/calendar.scss";
@use "styles/datetime.scss";
@use "styles/workspaces.scss";
@use "styles/shapes.scss";
@import "themes/theme";
window{
    background-color: $c-bg-0;
}
.bar_class{
    background-color: $c-bg-0;
}
/*
.module{

}
.left_modules{
}

.left_bar{
    background-color: #800700;
}
.desktops{
    background-color: #800700;
}
*/


