@use "styles/calendar.scss";
@use "styles/datetime.scss";
@import "themes/theme";
window{
    background-color: $c-bg-0;
}
.bar_class{
    background-color: $c-bg-0;
}
/*
.module{

}
.left_modules{
}

.left_bar{
    background-color: #800700;
}
.desktops{
    background-color: #800700;
}
*/

.workspace-button{
    all: unset;
    font-size: 18px;
    margin-right: 15px;
    margin-left: 15px;
    color: #519872;
    padding: 10px;
}


.workspace-button-window {
    color: #3F7D25;
}

.workspace-button-active {
    color: #F75C03;
}

.workspace-active-group {
    color: #F79C03;
}

